[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography= '>=3.0'
sscred = '0.2.1'

[dev-packages]
bumpversion = "==0.6.0"
nose = "==1.3.7"
nose-watch = "==0.9.2"
setuptools-pipfile = "==0.4.1"
twine = "==3.2.0"

[requires]
python_version = "3.8"
